<div>

  <% if !@error.nil? %>  <!-- can this be used in _form.erb? -->
    <p><%= @error %></p>
  <% end %>

<h3 class="form-header">Have you ever wondered what your birthdate says about you?</h3>

<div class="container">
  <form class="ask-date" action="/" method="post">
    <div class"form-group">
      <label for="birthdate">Enter your birthdate and find out!</label>
      <input class="form-control" name="birthdate" type="date" />
      <input class="btn btn-default" type="submit" />
    </div>
  </form>
</div>
</div>
